<nav>
    <div>
        <a class="logo-area" href="/">
            <h1>INŠURENC KAMPENY</h1>
            <img class="logo" src="../../image/umbrella-icon.png" alt="umbrella icon">
        </a>
    </div>
    <div class="nav-menu-toggle" onclick="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav-menu" id="navMenu">
        <li id="navInsurances" class="<%= activePage === 'insurances' ? 'active' : '' %>">
            <a href="/insurances">POJISTKY</a>
        </li>
        <li id="navInsureds" class="<%= activePage === 'insureds' ? 'active' : '' %>">
            <a href="/insureds">POJIŠTĚNCI A POJISTITELÉ</a>
        </li>
        <li id="navNewInsurance" class="<%= activePage === 'new-insurance' ? 'active' : '' %>">
            <a href="/insurances/create">NOVÁ POJISTKA</a>
        </li>
        <li id="navNewInsured" class="<%= activePage === 'new-insured' ? 'active' : '' %>">
            <a href="/insureds/create">NOVÝ POJIŠTĚNEC/POJISTNÍK</a>
        </li>
    </ul>
    <div class="user-area">
        <div class="profile-picture-container">
            <% if (user === 'Frodo') { %>
                <img class="profile-picture" src="../../image/frodo.png" alt="user profile picture">
            <% } else if (user === 'Gandalf') { %>
                <img class="profile-picture" src="../../image/gandalf.png" alt="user profile picture">
            <% } else { %>
                <img class="profile-picture" src="../../image/leaf-of-lorien.png" alt="user profile picture">
            <% } %>

        </div>
        <div class="user-area-text">
            <% if (user) { %>
                <a href="/logout"><h4 class="user-name">Logout</h4></a>
            <% } else { %>
                <a href="/logout"><h4 class="user-name">Nepřihlášen</h4></a>
            <% } %>
        </div>
    </div>
</nav>