<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main class="index-content">
    <img src="../../image/umbrella-icon.png" alt="umbrella icon">
    <h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate delectus dolores ducimus, eos, fuga
        fugiat id illum, iusto magnam omnis quae tenetur voluptatum? Aut enim necessitatibus porro quidem ut.
    </h3>
</main>

<%- include('./partials/footer.ejs') %>

