<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main class="index-content">
    <h2>Vítejte v Inšurenc Kampeny</h2>
    <p>
        Vynechal jsem pro tuto testovací appku tvorbu nových uživatelů a následné přihlašování dle credentials.
        Frodo a Gandalf jsou ale skuteční a aktuálně bydlí v Mongo databázi.
    </p>
    <p>
        Pro zbytek dat uvnitř aplikace je použita MySQL databáze.
        Zvolte si roli, jakou se chcete do aplikace přihlásit. Frodo nemá práva k mazání klientů, ani pojistek. Gandalf si
        může dělat, co chce.
    </p>
    <h4>K přístupu k ostatním stránkám si vyberte jednu z rolí:</h4>
    <div class="login-btn-area">
        <button class="username" name="Frodo" onclick="login('Frodo')"><strong>Frodo</strong><br><small>Běžný uživatel</small></button>
        <button class="username" name="Gandalf" onclick="login('Gandalf')"><strong>Gandalf</strong><br><small>Administrátor</small></button>
    </div>
</main>

<%- include('./partials/footer.ejs') %>

